<div class="d-inline-block" style="background-color: #eee; width: 40%">

  <form action="/" method="post" style="background-color: #fff" class="pt-4 pb-4 pl-5 pr-5 position-relative">
    <label for="amount" class="d-block">Amount</label>
    <input type="text" name="amount" id="amount" class="form-control d-block" style="width: 100%;" value="1.00">
    <label for="from" class="d-block mt-4">From</label>
    <select name="currency" id="from" style="width: 100%;" class="form-control">
      {{#each param.currency_target}}
      <option>{{this}}</option>
      {{/each}}
    </select>
    <div id="switch" class="btn position-absolute" style="left: 75%; top:43.5%; color: #808080; border-color: #CDCDCD">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
      </svg>
    </div>
    <label for="to" class="d-block mt-4">To</label>
    <select name="currency" id="to" style="width: 100%;" class="form-control">
      <option>{{param.currency_base}}</option>
    </select>

    <input type="submit" name="submit" class="btn btn-info mt-5" style="width: 100%;" value="Convert">

    <div styl="display: block;" class="pt-4">
      About <span style="font-size:1.5rem">{{param.init.con_USD}}</span> TWD
    </div>
  </form>

</div>

<div class="d-inline-block float-right" style="background-color: #eee; width: 55%">
  <div class="card-deck p-3">
    <div class="card" style="width: 18rem;">
      <div class="card-header font-weight-bold" id="exchange_title">
        USD to TWD
      </div>
      <ul class="list-group list-group-flush" id="exchange_list">
        <li class="list-group-item">1 USD = {{param.init.exc_USD}} TWD</li>
      </ul>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-header font-weight-bold" id="inverse_title">
        TWD to USD
      </div>
      <ul class="list-group list-group-flush" id="inverse_list">
        <li class="list-group-item">1 TWD = {{param.init.inv_USD}} USD</li>
      </ul>
    </div>
  </div>
</div>
<!--
<div>Udated time: {{param.update_time}}</div>
<div>Description: {{param.description}}</div>
<div>Support currencies: <span style="color: gray">{{param.currency}}</span></div>
-->
<script>
  const inverse = {{{ param.inverse_rate_str }}};
  const exchange = {{{ param.exchange_rate_str }}};

  document.getElementById('switch').addEventListener('click', function () {
    let from_val = document.getElementById('from').innerHTML;
    let to_val = document.getElementById('to').innerHTML;

    document.getElementById('from').innerHTML = to_val;
    document.getElementById('to').innerHTML = from_val;
  })
  document.getElementById('from').addEventListener('change', function () {
    let from_val = document.getElementById('from').value.split(' - ')[0];
    let to_val = document.getElementById('to').value;

    document.getElementById('exchange_list').innerHTML = '<li class="list-group-item">1 ' + from_val + ' = ' + exchange[from_val] + 'TWD</li>';
    document.getElementById('inverse_list').innerHTML = '<li class="list-group-item">1 TWD = ' + inverse[from_val] + ' ' + from_val + '</li>';

    document.getElementById('exchange_title').innerHTML = from_val + ' to TWD';
    document.getElementById('inverse_title').innerHTML = 'TWD to ' + from_val;
  })
</script>