<div class="row justify-content-around" style="max-width: 1024px; margin: 0 auto;">
  <div class="col-12 col-lg-4 shadow p-3 mb-5 bg-white rounded">

    <form action="/api/v1/currencies" method="post" id="form" style="background-color: #fff" class="p-4 position-relative"
      onkeydown="return event.key != 'Enter';">
      <label for="amount" class="d-block">Amount</label>
      <input type="text" name="amount" id="amount" class="form-control d-block" style="width: 100%;" value="100"
        onKeyUp="value=value.replace(/[^\d\.]/g,'')" maxlength="19">
      <label for="from" class="d-block mt-4">From</label>
      <select name="currency_from" id="from" style="width: 100%;" class="form-control">
        <optgroup>
          {{#each param.currency_target_popular}}
          <option>{{this}}</option>
          {{/each}}
        </optgroup>
        <optgroup label="------------------------------------">
          {{#each param.currency_target}}
          <option>{{this}}</option>
          {{/each}}
        </optgroup>
      </select>
      <div id="switch" class="btn position-absolute"
        style="right: 1.6em; top: 12.3em; color: #808080; border-color: #CDCDCD">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up"
          viewBox="0 0 16 16" style="color: #28a2b8">
          <path fill-rule=" evenodd"
            d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
        </svg>
      </div>
      <label for="to" class="d-block mt-4">To</label>
      <select name="currency_to" id="to" style="width: 100%;" class="form-control">
        <option>{{param.currency_base}}</option>
      </select>

      <input type="submit" name="submit" id="submit" class="btn btn-info mt-5" style="width: 100%;" value="Convert">
      
      <div id="save" class="btn position-absolute" style="right: 1.6em; top: 20.6em; color: #808080; border-color: #CDCDCD; display: none;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save2" viewBox="0 0 16 16">
          <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v4.5h2a.5.5 0 0 1 .354.854l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5A.5.5 0 0 1 5.5 6.5h2V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
        </svg>
      </div>

      <div style="display: none;" class="pt-4" id="convert_amount_box">
        About <span id="convert_amount" style="font-size:1.5rem; color: #28a2b8"></span> <span
          id="convert_currency">TWD</span>
      </div>
      <div style="display: none; color: #777; font-size: .9em" id="convert_description">
        {{!-- 1 USD = {{param.init.inv_USD}} TWD --}}
      </div>
    </form>

  </div>

  <div class="col-12 col-lg-7 float-right shadow bg-white rounded" style="padding: 1.3em">
    <div class="card-deck p-3">
      <div class="card">
        <div class="card-header font-weight-bold text-center" style="background-color: #28a2b814;" id="exchange_title">
          EUR to TWD
        </div>
        <ul class="list-group list-group-flush" id="inverse_list">
          <li class="list-group-item">
            <div style="display: inline-block; width: 45%; text-align: right; padding-right:.5em">1</div><span
              style="color: #eee;"> | </span>
            <div style="display: inline-block; width: 45%; text-align: right;" id="inv_1">
              {{param.init.inv_EUR_1}}</div>
          </li>
          <li class="list-group-item">
            <div style="display: inline-block; width: 45%; text-align: right; padding-right:.5em">10</div><span
              style="color: #eee;"> | </span>
            <div style="display: inline-block; width: 45%; text-align: right;" id="inv_10">
              {{param.init.inv_EUR_10}}</div>
          </li>
          <li class="list-group-item">
            <div style="display: inline-block; width: 45%; text-align: right; padding-right:.5em">50</div><span
              style="color: #eee;"> | </span>
            <div style="display: inline-block; width: 45%; text-align: right;" id="inv_50">
              {{param.init.inv_EUR_50}}</div>
          </li>
          <li class="list-group-item">
            <div style="display: inline-block; width: 45%; text-align: right; padding-right:.5em">200</div><span
              style="color: #eee;"> | </span>
            <div style="display: inline-block; width: 45%; text-align: right;" id="inv_200">
              {{param.init.inv_EUR_200}}</div>
          </li>
          <li class="list-group-item">
            <div style="display: inline-block; width: 45%; text-align: right; padding-right:.5em">500</div><span
              style="color: #eee;"> | </span>
            <div style="display: inline-block; width: 45%; text-align: right;" id="inv_500">
              {{param.init.inv_EUR_500}}</div>
          </li>
          <li class="list-group-item">
            <div style="display: inline-block; width: 45%; text-align: right; padding-right:.5em">1000</div><span
              style="color: #eee;"> | </span>
            <div style="display: inline-block; width: 45%; text-align: right;" id="inv_1000">
              {{param.init.inv_EUR_1000}}</div>
          </li>
          <li class="list-group-item">
            <div style="display: inline-block; width: 45%; text-align: right; padding-right:.5em">5000</div><span
              style="color: #eee;"> | </span>
            <div style="display: inline-block; width: 45%; text-align: right;" id="inv_5000">
              {{param.init.inv_EUR_5000}}</div>
          </li>
        </ul>
      </div>
      <div class="card">
        <div class="card-header font-weight-bold text-center" style="background-color: #28a2b814;" id="inverse_title">
          TWD to EUR
        </div>
        <ul class="list-group list-group-flush" id="exchange_list">
          <li class="list-group-item">
            <div style="display: inline-block; width: 45%; text-align: right; padding-right:.5em">1</div><span
              style="color: #eee;"> | </span>
            <div style="display: inline-block; width: 45%; text-align: right;" id="exc_1">
              {{param.init.exc_EUR_1}}</div>
          </li>
          <li class="list-group-item">
            <div style="display: inline-block; width: 45%; text-align: right; padding-right:.5em">10</div><span
              style="color: #eee;"> | </span>
            <div style="display: inline-block; width: 45%; text-align: right;" id="exc_10">
              {{param.init.exc_EUR_10}}</div>
          </li>
          <li class="list-group-item">
            <div style="display: inline-block; width: 45%; text-align: right; padding-right:.5em">50</div><span
              style="color: #eee;"> | </span>
            <div style="display: inline-block; width: 45%; text-align: right;" id="exc_50">
              {{param.init.exc_EUR_50}}</div>
          </li>
          <li class="list-group-item">
            <div style="display: inline-block; width: 45%; text-align: right; padding-right:.5em">200</div><span
              style="color: #eee;"> | </span>
            <div style="display: inline-block; width: 45%; text-align: right;" id="exc_200">
              {{param.init.exc_EUR_200}}</div>
          </li>
          <li class="list-group-item">
            <div style="display: inline-block; width: 45%; text-align: right; padding-right:.5em">500</div><span
              style="color: #eee;"> | </span>
            <div style="display: inline-block; width: 45%; text-align: right;" id="exc_500">
              {{param.init.exc_EUR_500}}</div>
          </li>
          <li class="list-group-item">
            <div style="display: inline-block; width: 45%; text-align: right; padding-right:.5em">1000</div><span
              style="color: #eee;"> | </span>
            <div style="display: inline-block; width: 45%; text-align: right;" id="exc_1000">
              {{param.init.exc_EUR_1000}}</div>
          </li>
          <li class="list-group-item">
            <div style="display: inline-block; width: 45%; text-align: right; padding-right:.5em">5000</div><span
              style="color: #eee;"> | </span>
            <div style="display: inline-block; width: 45%; text-align: right;" id="exc_5000">
              {{param.init.exc_EUR_5000}}</div>
          </li>
        </ul>
      </div>
    </div>
    <div style="text-align: right; padding-right: 1rem; color: #777; font-size: .9em;">
      <span class="d-inline-block">Updated: {{param.updated_time}}</span>
      <span class="d-inline-block"> Taiwan Time</span>
    </div>
  </div>
</div>
<script>
  const inverse = {{{ param.inverse_rate_str }}};
  const exchange = {{{ param.exchange_rate_str }}};

  document.getElementById('form').addEventListener('submit', function (e) {
    e.preventDefault();
    let dataObj = {
      amount: $('#amount').val(),
      currency_from: $('#from').val(),
      currency_to: $('#to').val(),
      submit: $('#submit').val()
    };

    $.ajax({
      url: '/api/v1/currencies',
      type: 'POST',
      data: dataObj,
      error: (error) => { console.log('error: ', error) },
      success: (res) => {
        if (res === 200) {
          $('#submit').hide();
          $('#save').show();
          $('#convert_amount_box').show();
          $('#convert_description').show();

          dashboard();
          convert();
        }
      }
    })
  })

  // input輸入即時轉換匯率
  document.getElementById('amount').addEventListener('keyup', function () {
    convert();
  })

  // 當前幣別轉換方向對換，同時更新輸出值與dashboard
  document.getElementById('switch').addEventListener('click', function () {
    let from_val = document.getElementById('from').value;
    let to_val = document.getElementById('to').value;
    let from_option = document.getElementById('from').innerHTML;
    let to_option = document.getElementById('to').innerHTML;

    document.getElementById('from').innerHTML = to_option;
    document.getElementById('from').value = to_val;
    document.getElementById('to').innerHTML = from_option;
    document.getElementById('to').value = from_val;

    dashboard();
    convert();
  })

  // 幣別from值改變，同時更新輸出值與dashboard
  document.getElementById('from').addEventListener('change', function () {
    dashboard();
    convert();
  })

  // 幣別to值改變，同時更新輸出值與dashboard
  document.getElementById('to').addEventListener('change', function () {
    dashboard();
    convert();
  })

  function convert() {
    let amount = document.getElementById('amount').value;
    // 確認input為數字且只有一個小數點
    if (isNaN(amount)) {
      let new_val = amount.split('.');
      amount = new_val[0] + '.' + new_val[1];
      document.getElementById('amount').value = amount;
    }

    let from_val = document.getElementById('from').value.split(' - ')[0];
    let to_val = document.getElementById('to').value.split(' - ')[0];
    let type = to_val == 'TWD' ? 'inverse' : 'exchange';

    // 根據TWD與目標幣別的轉換方向，提供對應數值
    if (type == 'inverse') {
      // target to TWD
      let convert_amount = Math.round(amount * inverse[from_val]);
      // 轉換後金額
      document.getElementById('convert_amount').innerHTML = convert_amount.toLocaleString();
      document.getElementById('convert_currency').innerHTML = to_val;
      // 1 dollar description
      document.getElementById('convert_description').innerHTML = Number(amount).toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 18, style: 'currency', currency: from_val }) + ' = ' + (amount * inverse[from_val]).toLocaleString('en-US', { minimumFractionDigits: 4, maximumFractionDigits: 4, style: 'currency', currency: 'TWD' });
    }
    else {
      // TWD to target
      let convert_amount = Math.round(amount * exchange[to_val]);
      // 轉換後金額
      document.getElementById('convert_amount').innerHTML = convert_amount.toLocaleString();
      document.getElementById('convert_currency').innerHTML = to_val;
      // 1 dollar description
      document.getElementById('convert_description').innerHTML = Number(amount).toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 18, style: 'currency', currency: 'TWD' }) + ' = ' + (amount * exchange[to_val]).toLocaleString('en-US', { minimumFractionDigits: 4, maximumFractionDigits: 4, style: 'currency', currency: to_val });
    }
  }

  function dashboard() {
    let from_val = document.getElementById('from').value.split(' - ')[0];
    let to_val = document.getElementById('to').value.split(' - ')[0];
    let type = to_val == 'TWD' ? 'inverse' : 'exchange';
    // 根據TWD與目標幣別的轉換方向，顯示對應數值與標題
    if (type == 'inverse') {
      // target to TWD 
      // details
      document.getElementById('exc_1').innerHTML = formatNumber(exchange[from_val], 1);
      document.getElementById('exc_10').innerHTML = formatNumber(exchange[from_val], 10);
      document.getElementById('exc_50').innerHTML = formatNumber(exchange[from_val], 50);
      document.getElementById('exc_200').innerHTML = formatNumber(exchange[from_val], 200);
      document.getElementById('exc_500').innerHTML = formatNumber(exchange[from_val], 500);
      document.getElementById('exc_1000').innerHTML = formatNumber(exchange[from_val], 1000);
      document.getElementById('exc_5000').innerHTML = formatNumber(exchange[from_val], 5000);
      document.getElementById('inv_1').innerHTML = formatNumber(inverse[from_val], 1);
      document.getElementById('inv_10').innerHTML = formatNumber(inverse[from_val], 10);
      document.getElementById('inv_50').innerHTML = formatNumber(inverse[from_val], 50);
      document.getElementById('inv_200').innerHTML = formatNumber(inverse[from_val], 200);
      document.getElementById('inv_500').innerHTML = formatNumber(inverse[from_val], 500);
      document.getElementById('inv_1000').innerHTML = formatNumber(inverse[from_val], 1000);
      document.getElementById('inv_5000').innerHTML = formatNumber(inverse[from_val], 5000);
      // title
      document.getElementById('exchange_title').innerHTML = from_val + ' to TWD';
      document.getElementById('inverse_title').innerHTML = 'TWD to ' + from_val;
    }
    else {
      // TWD to target
      // details
      document.getElementById('inv_1').innerHTML = formatNumber(exchange[to_val], 1);
      document.getElementById('inv_10').innerHTML = formatNumber(exchange[to_val], 10);
      document.getElementById('inv_50').innerHTML = formatNumber(exchange[to_val], 50);
      document.getElementById('inv_200').innerHTML = formatNumber(exchange[to_val], 200);
      document.getElementById('inv_500').innerHTML = formatNumber(exchange[to_val], 500);
      document.getElementById('inv_1000').innerHTML = formatNumber(exchange[to_val], 1000);
      document.getElementById('inv_5000').innerHTML = formatNumber(exchange[to_val], 5000);
      document.getElementById('exc_1').innerHTML = formatNumber(inverse[to_val], 1);
      document.getElementById('exc_10').innerHTML = formatNumber(inverse[to_val], 10);
      document.getElementById('exc_50').innerHTML = formatNumber(inverse[to_val], 50);
      document.getElementById('exc_200').innerHTML = formatNumber(inverse[to_val], 200);
      document.getElementById('exc_500').innerHTML = formatNumber(inverse[to_val], 500);
      document.getElementById('exc_1000').innerHTML = formatNumber(inverse[to_val], 1000);
      document.getElementById('exc_5000').innerHTML = formatNumber(inverse[to_val], 5000);
      // title
      document.getElementById('inverse_title').innerHTML = to_val + ' to TWD';
      document.getElementById('exchange_title').innerHTML = 'TWD to ' + to_val;
    }
  }

  function formatNumber(number, times) {
    return Number(number * times).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
  }
</script>